# Exercici 1

Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 20]}, ordena els valors en ordre ascendent i descendent.

In [8]:
import pandas as pd # Importem la llibreria Pandas

data = {'Col1': [50, 30, 10, 40, 20]} # Dades que tenim
df = pd.DataFrame(data)  # Convertim les dades en un dataframe
df.sort_values(by='Col1', ascending=True, inplace=True) # Ordenem els valors en ordre ascendent

df # Cridem al dataframe per veure el resultat

   Col1
2    10
4    20
1    30
3    40
0    50

In [10]:
df.sort_values(by='Col1', ascending=False, inplace=True) # Ordenem els valors en ordre descendent

df # Cridem al dataframe per veure el resultat

   Col1
0    50
3    40
1    30
4    20
2    10

# Exercici 2

Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 20]}, filtra els valors que siguin més grans que 30.

In [23]:
data = {'Col1': [50, 30, 10, 40, 20]} # Dades donades
df = pd.DataFrame(data) # Convertim les dades en un dataframe

filtre = df['Col1'] > 30 # Creem un filtre (que guardem en la variable 'filtre'), 
                         # el qual selecciona els valors més grans de 30 de la columna 1 ('Col1') del dataframe.
    
resultats_filtrats = df[filtre] # En la variable resultats_filtrats guardarem el filtre que hem creat anteriorment

resultats_filtrats # Cridem a la variable per veure els resultats

   Col1
0    50
3    40

# Exercici 3

Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 10]}, comptabilitza els valors únics.

In [21]:
data = {'Col1': [50, 30, 10, 40, 10]} # Dades donades
df = pd.DataFrame(data) # Convertim les dades en un dataframe

valors_unics = df['Col1'].nunique() # Comptabilitzem els valors únics del dataframe i els guardem en la variable 'valors_unics'

print(valors_unics) # Mostrem el resultat

4

# Exercici 4

Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, suma les dades que pertanyen a la mateixa columna.

In [25]:
data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]} # Dades donades
df = pd.DataFrame(data) # Convertim les dades en un dataframe

suma_grup = df.groupby('Grup')['Col1'].sum() # Sumem les dades per grup, sumant per separat els valors de A i de B.

print(suma_grup) # Mostrem el resultat

Grup
A    90
B    60
Name: Col1, dtype: int64

# Exercici 5

Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, crea una columna nova ‘Col2’ que sigui 2 si és superior al percentil 75% de la ‘Col1’, 0 si és inferior al 25% del percentil de la columna ‘Col1’ i 1 si cau entremig.

In [26]:
# Importem les llibreries necessàries
import numpy as np
from scipy.stats import percentileofscore

data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]} # Dades donades
df = pd.DataFrame(data) # Convertim les dades en un dataframe

# Calculem el percentil 25% i 75% de la columna 'Col1'
percentil_25 = np.percentile(df['Col1'], 25)
percentil_75 = np.percentile(df['Col1'], 75)

def assigna_valor(valor): # Definim la funció
    if valor > percentil_75: # Si el valor és superior al percentil 75%
        return 2 # Retorna el valor 2
    elif valor < percentil_25: # En cas que el valor sigui inferior al 25% del percentil
        return 0 # Retorna el valor 0
    else: # En la resta de condicions
        return 1 # Retorna el valor 1

# Apliquem la funció a cada fila de 'Col1' i assignem els valors a 'Col2'
df['Col2'] = df['Col1'].apply(assigna_valor)
 
print(df) # Mostrem el dataframe amb la 'Col2' afegida

  Grup  Col1  Col2
0    A    10     0
1    B    20     1
2    A    30     1
3    B    40     1
4    A    50     2

# Exercici 6

Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, aplica lambda per obtenir el quadrat de la columna ‘Col1’ en una nova columna.

In [7]:
import pandas as pd # Importem la llibreria Pandas

data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]} # Dades donades
df = pd.DataFrame(data) # Convertim les dades en un dataframe

# Creem una nova columna anomenada 'Col2' en la qual guardarem el resultat del quadrat de cada valor de la columna 'Col1', 
# aplicant lambda
df['Col2'] = df['Col1'].apply(lambda x: x ** 2)

print(df) # Mostrem el dataframe amb la columna 2 afegida

  Grup  Col1  Col2
0    A    10   100
1    B    20   400
2    A    30   900
3    B    40  1600
4    A    50  2500